<section class="main">
  <div class="py-5 container flex items-center justify-between mx-auto">
    <div class="w-1/2">
      <img  src="/img/hero-pizza.png" alt="Pizza" />
    </div>
    <div class="flex w-1/2 home-image2">
      <img  src="/img/Pizzeria “Where Dreams Become Toppings!” (1).png" alt="Pizza" />
    </div>
  </div>
</section>

<section id="menusection">
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 row-gap-16 col-gap-12 mb-10 px-10">
    <%pizzas.forEach(function(pizza){ %>
        <div class="w-full md:w-64">
            <div>
              <img
                class=" mb-4 h-40 mx-auto"
                src="/img/<%=pizza.image%>"
                alt="Pizza Crust "
              />
            </div>
            <div class="text-center">
              <h2 class="mb-2 text-lg text-center font-semibold mt-0"><%=pizza.name%></h2>
              <span class="size py-1 px-4 rounded-full uppercase text-xs mx-auto"
                ><%=pizza.size%></span
              >
              <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">Rs <%=pizza.price %></span>
                <button   data-pizza = "<%=JSON.stringify(pizza)%>"
                   class="proceed py-1 px-6 rounded-full text-white border-gray font-semibold flex item-center"
                  
                >
                  Select
                </button>
              </div>
            </div>
          </div>


    <%})%>
    
  </div>




  
  
</section>
